<body style="font-family: 'Arial', sans-serif; margin: 0; padding: 0;">
    <div style="max-width: 600px; margin: 0 auto; padding: 20px; border: 1px solid #ddd; border-radius: 5px;">

        <h2 style="color: #333;">Welcome to Snappy!</h2>
        <p> Hi, {{name}} </p>
        <p>We're thrilled to have you on board. To complete your registration, please use the following One-Time Password (OTP) to verify your email address:</p>

        <h3>Your OTP: {{code}}</h3>

        <p>Enter this OTP within the Snappy app or website to confirm your email and gain full access to our features.</p>

        <p>If you didn't sign up for Snappy, please ignore this email.</p>

        <p>Thank you for choosing Snappy! If you have any questions or need assistance, feel free to reach out to our support team.</p>

        <p>Best regards,<br>The Snappy Team</p>
    </div>
</body>
</html>
